<h1 class="text-center white mt-4 mb-4">LOGIN</h1>
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  <div class='container text-center p-2'>
    <div class="form-group">
      <div class="control-label col w-100">
        <%= f.label :username, class:'white' %>
      </div>
      <div class="col w-100 d-flex justify-content-center mt-3 mb-3">
        <%= f.text_field :username, class: "form-control w-75", id:"username", placeholder: "Enter username", autofocus: true %>
      </div>
    </div>
    <div class="form-group w-100">
      <div class="container bottom-container d-flex justify-content-center">
        <%= f.submit 'Log In', class: 'btn btn-outline-sucess bottom-link input-buttons', style: 'font-weight: 600;' %>
      </div>
    </div>
  </div>
  <div class='col text-center mt-2'>
    <%= link_to "Don't have an account? Sign Up!", new_user_path %>
  </div>
<% end %>
    